body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  color: #333;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ5KUToo6vaBaLkLIxs5p03xxlSEmwPb1LGw&s');
  background-size: cover;
  background-position: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #2c3e50;
}

h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.form-section {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #ddd;
}

.submit-btn {
  background-color: #3498db;
}

button:hover:enabled {
  background-color: #2980b9;
}

.message {
  text-align: center;
  color: green;
  font-size: 1rem;
}

.error-message {
  color: red;
  font-size: 1rem;
  text-align: center;
}

textarea {
  height: 100px;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

  